.header {
  background-color: #000;
  padding-top: 41px;
  padding-bottom: 65px;
}

.header-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include for-tablet {
    padding-left: 51px;
    padding-right: 51px;
  }
}

.header-logo {
  display: flex;
  align-items: flex-end;
  outline: 1px solid tomato;
}

.logo-text {
  @include from-none-to-tablet {
    display: none;
  }
  @include for-tablet {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: $page-bg-cl;
  }
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:first-child) {
  margin-left: 39px;
}
.navigation-list-item__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $page-bg-cl;
  text-transform: uppercase;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.control-buttons__item {
  list-style: none;
}

.control-buttons__item:not(:first-child) {
  @include from-none-to-tablet {
    margin-left: 20px;
  }
  @include for-tablet {
    margin-left: 15px;
  }
}

.button {
  color: $page-bg-cl;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $page-bg-cl;
  height: 44px;
  @include from-none-to-tablet {
    width: 129px;
  }
  @include for-tablet {
    width: 135px;
  }
}

.button.active {
  background-color: $accent-cl;
  border-color: $accent-cl;
}
