<div class="plug">
    <img src="./images/sad-smile.svg" alt="" class="plug__img" />
    <h2 class="plug__title">Your movie list is empty!</h2>
    <p class="plug__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cumque veritatis. Eum rerum
        facere enim? Nostrum, ipsa minima beatae quae, et, tempora cum molestias id commodi corrupti
        dolorem at eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cumque
        veritatis. Eum rerum facere enim? Nostrum, ipsa minima beatae quae, et, tempora cum molestias
        id commodi corrupti dolorem at eius!
    </p>
</div>