
<!-- модальное окно -->
<div class="backdrop" data-modal>
    <div class="modal">
        
        <button class="modal__close-btn" data-modal-close>
            <svg class="modal__close-icon" width="20" height="20">
                <use href="images/symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
    
     <div class="modal_thumb">
         <img src="images/poster.jpg" alt="poster" class="film-poster">
     </div>

    <div class="film-card_text-content">

        <h2 class="film-name">A fistful of lead</h2>


        <div class="meta-info_container">

            <ul class="list meta-info_list">
                <li class="meta-info_item">Vote / Votes</li>
                <li class="meta-info_item">Popularity</li>
                <li class="meta-info_item">Original Title</li>
                <li class="meta-info_item">Genre</li>
            </ul>


            <ul class="list meta-info_list-content">
                <li class="meta-info_item-content"> <span class="evg-vote_item">7.3</span> / <span class="total-vote_item">1260</span></li>
                <li class="meta-info_item-content">100.2</li>
                <li class="meta-info_item-content"><span class="film-name_item">A fistful of lead</span></li>
                <li class="meta-info_item-content">Western</li>
            </ul>

    </div> 

   <h3 class="about-title">About</h3>

   <p class="about-content">
    Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
   </p>

   <div class="btn-container">
       <button type="submit" class="btn modal-btn watched_btn">Add to watched</button>
       <button type="submit" class="btn modal-btn queue_btn">Add to queue</button>
   </div>

   </div>
</div>