<h2 class="visually-hidden">Header library</h2>
<header class="header container">
    <div class="header-main">
        <a href="" class="header-logo link">
            <svg class="" width="24" height="24" class="logo-image">
                    <use href=""></use>
                </svg>
            <span class="logo-text">Filmoteka</span>
        </a>
        <nav class="navigation">
            <ul class="navigation-list list">
                <li class="navigation-list-item">
                    <button class="navigation-list-item__button" id="home">Home</button>
                </li>
                <li class="navigation-list-item">
                    <button class="navigation-list-item__button active" id="my_lybrary">My library</button>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <ul class="control-buttons list">
            <li class="control-buttons__item">
                <button type="button" class="button active" id="watched">Watched</button>
            </li>
            <li class="control-buttons__item">
                <button type="button" class="button" id="queue">Queue</button>
            </li>
        </ul>
    </div>
</header>