<h2>Header home</h2>
<header class="header container">
    <a href="">
        <!-- <svg class="" width="" height="">
            <use href=""></use>
        </svg> -->
        <span>Filmoteka</span>
    </a>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation-list-item">
                <a href="" class="navigation-list-item__link">Home</a>
            </li>
            <li class="navigation-list-item">
                <a href="" class="navigation-list-item__link">My lybrary</a>
            </li>
        </ul>
    </nav>
<input type="input" placeholder="Поиск фильмов">
</header>
