<div class="header-input-box">
    <input type="input" class="header-input" placeholder="Поиск фильмов">
    <svg class="" width="12" height="12" class="search-svg">
        <use href="./images/search.svg#search"></use>
    </svg>
</div>
