<header class="header">
  <div class="header-main container">
    <a href="./index.html" class="header-logo link" aria-label="Home page">
      <svg width="24" height="24" class="logo-image">
        <use href="./images/logo.svg#logo-svg"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="navigation-list list">
        <li class="navigation-list-item">
          <button class="navigation-list-item__button active" id="home">Home</button>
        </li>
        <li class="navigation-list-item">
          <button class="navigation-list-item__button" id="my_lybrary">My library</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="dinamic-content"></div>
</header>
