<h2>Header library</h2>
<header class="header container">
    <a href="">
        <!-- <svg class="" width="" height="">
            <use href=""></use>
        </svg> -->
        <span>Filmoteka</span>
    </a>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">My lybrary</a>
            </li>
        </ul>
    </nav>
    <ul class="control-buttons">
        <li class="control-buttons__item">
            <button type="button" class="button active" id="watched">Watched</button>
        </li>
        <li class="control-buttons__item">
            <button type="button" class="button" id="queue">Queue</button>
        </li>
    </ul>
</header>