<div class="backdrop registration-backdrop" data-modal>
  <div class="modal registration-modal">
    <h2 class="registration__title">Registration</h2>

    <form class="registration-form">
      <div class="registration-form__field">
        <label class="registration-form__label" for="name">Name</label>
        <svg width="18px" height="18px" class="registration-form__icons">
          <use href="images/symbol-defs.svg#icon-icon-name-user-form"></use>
        </svg>
        <input
          class="registration-form__input"
          type="text"
          name="name"
          id="name"
          pattern="[A-Za-zА-Яа-яЁё]+$"
          required
        />
      </div>

      <div class="registration-form__field">
        <label class="registration-form__label" for="email">Email</label>
        <svg width="18px" height="18px" class="registration-form__icons">
          <use href="images/symbol-defs.svg#icon-icon-email-form"></use>
        </svg>
        <input class="registration-form__input" type="email" name="email" id="email" required />
      </div>

      <div class="registration-form__field">
        <label class="registration-form__label" for="inputPassword">Password</label>
        <input
          type="password"
          class="registration-form__input registration-form__input-password"
          id="inputPassword"
          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
          placeholder="Password"
          required
        />
      </div>

      <div class="registration-form__field">
        <label class="registration-form__label" for="inputRepeatPassword"
          >Repeat your password</label
        >
        <input
          type="password"
          class="registration-form__input registration-form__input-password"
          id="inputRepeatPassword"
          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
          placeholder="Password"
          required
        />
      </div>
      <div class="registration-form__licence">
        <input
          type="checkbox"
          name="licence"
          id="licence"
          class="registration-form__checkbox visually-hidden"
          required
        />
        <label for="licence" class="registration-form__checkbox-label"
          >I agree with the&ensp;
          <a class="registration-form__checkbox-link" href="#">terms of terms contract</a>
        </label>
      </div>

      <button class="button registration-form__submit" type="submit">Отправить</button>
    </form>
    <button class="modal__close-btn registration-close" data-modal-close>
      <svg width="30px" height="30px" class="modal__btn-close-icon">
        <use href="images/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
  </div>
</div>
