<div class="backdrop backdrop-js registration-backdrop">
  <form class="form-horizontal">
    <span class="heading">Registration</span>
    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" />
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group help">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
      <i class="fa fa-lock"></i>
      <a href="#" class="fa fa-question-circle"></a>
    </div>
    <div class="form-group help">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Repeat password"
      />
      <i class="fa fa-lock"></i>
      <a href="#" class="fa fa-question-circle"></a>
    </div>
    <div class="form-group help">
      <div class="main-checkbox">
        <input type="checkbox" value="none" id="checkbox1" name="check" required />
        <label for="checkbox1"></label>
      </div>
      <span class="text"
        >I agree with the <a class="link" href="#">terms of terms contract</a></span
      >
    </div>
    <button type="submit" class="btn btn-default">SIGN UP</button>

    <button class="modal__btn-close registration-close" data-modal-close>
      <svg class="btn-close-icon" width="30px" height="30px" class="modal__btn-close-icon">
        <use href="images/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
  </form>
</div>
