.footer {
  flex-shrink: 0;
  background-color: #f7f7f7;
}

.page__footer {
  text-align: center;
}

.footer__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  margin-left: 10px;
  fill: #ff6b08;

  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}

.dev__link {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and(min-width: 320px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__text {
    color: #545454;
    font-size: 14px;
    line-height: 1.143;
  }

  .copyright {
    margin-bottom: 10px;
  }
}

@media screen and(min-width: 768px) {
  .page__footer {
    display: flex;
    justify-content: center;
  }

  .footer__text {
    font-size: 16px;
    line-height: 1.1875;
  }

  .copyright {
    margin-bottom: 0;
  }
}
