.plug {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.plug__img {
  width: 200px;
  margin-bottom: 20px;
}

.plug__text {
  font-size: 30px;
  font-weight: 500;
}
