.movie-list__container {
  margin-bottom: 60px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;

  @include from-none-to-tablet {
    justify-content: center;
  }
}

.movie-list__card {
  position: relative;
  margin-bottom: 20px;
  max-width: 293px;
  padding: 10px;
  border-radius: 5px;
  max-height: 100%;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 274px;
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    transition: transform $transition-style 250ms, box-shadow $transition-style 250ms;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 4px 17px 35px -8px rgba(34, 60, 80, 0.2);
  }

  &:hover .movie-img,
  &:focus .movie-img {
    filter: grayscale(1);

    transform: scale(1.2) rotateZ(5deg);
  }
}

.card-img__thumb {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.movie-img {
  transition: transform $transition-style 250ms, filter $transition-style 250ms;
  height: 400px;
}

.line {
  display: block;
  width: 1px;
  height: 12px;
  margin-right: 4px;
  margin-left: 3px;

  background-color: $accent-cl;
}

.card__content {
  font-weight: 500;
}

.card__title {
  text-transform: uppercase;
  font-weight: 500;
}

.card__info {
  color: $accent-cl;
  display: flex;
  align-items: center;
}

.genres-list {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-rating {
  margin-left: 10px;
  padding: 1px 0;
  width: 36px;
  border-radius: 5px;
  text-align: center;

  color: #fff;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pages-container {
  display: flex;
}

.arrowLeft,
.arrowRight {
  background-color: #f7f7f7;
}

.pagDots,
.pagNumber,
.arrowLeft,
.arrowRight {
  display: block;
  min-width: 40px;
  height: 40px;
  padding: 13px;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  cursor: pointer;
}

.pagNumber.current {
  background-color: $accent-cl;
  color: #fff;
}

.lds-ellipsis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;

  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $accent-cl;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.non-active {
  display: none;
}

.red-rating-cl {
  background-color: rgb(192, 13, 13);
}

.yellow-rating-cl {
  background-color: rgb(214, 214, 14);
}

.yellow-green-rating-cl {
  background-color: rgb(130, 177, 37);
}

.green-rating-cl {
  background-color: rgb(19, 129, 19);
}
