.footer {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.1875;

  display: flex;
  align-items: center;

  background-color: $secondary-bg-cl;
  color: $footer-text-cl;
  padding-top: 30px;
  padding-bottom: 28px;

  @media screen and (min-width: $phone-sz) {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

.footer__flex {
  display: flex;
  justify-content: center;
  padding: 0px;
  @media screen and (max-width: $phone-sz) {
    flex-direction: column;
  }
}

.footer__developed {
  display: flex;
  @media screen and (max-width: $phone-sz) {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__developed-text {
  margin-right: 10px;
}

#footer__icon {
  margin-right: 10px;
}

.footer__developed-link {
  display: flex;
}
.footer__link {
  display: flex;
  color: inherit;
  text-decoration: underline;
  margin-left: 4px;
}

.footer__link:hover,
.footer__link:focus {
  color: $accent-cl;
}
